#countries{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.country{
    border: 2px solid blue;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

body{
    font-family: 'poppins',sans-serif;
}